<input type="color" [formControl]="colorCtrl" />
<p>color: {{ colorCtrl.value }}</p>
<svg>
  <g>
    <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value" />
  </g>
</svg>

<input type="number" [formControl]="widthCtrl" />
<span class="box" [style.width.px]="widthCtrl.value"></span>
<hr />
<p>
  <input type="text" [formControl]="nameCtrl" /><br />
  <span
    class="message-error"
    [class.show]="nameCtrl.invalid && nameCtrl.touched"
  >
    Nombre Invalido
  </span>
</p>
<p>
  <input type="text" />
</p>
